html {
    height: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

a {
    color: black;
    background: -webkit-linear-gradient(#FFF, #AAA);
    mix-blend-mode: screen;
    margin-top: 50px;
    font-weight: 600;
    font-size: 2em;
    border-radius: 10px;
    padding: 5px 10px;
    text-decoration: none;
}

a:hover {
    opacity: 0.5;
    color: black;
}

.big {
    font-family: Montserrat, sans-serif;
    font-weight: 800;
    font-size: 4em;
    user-select: none;
    background: -webkit-linear-gradient(#FFF, #AAA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

body {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.3) 50%, rgba(255, 255, 255, 0)), url("../images/invincible_googly.webp") center center;
    background-size: cover;
}