* {
    background-color: black;
    color: lightgray;
}

h1 {
    text-align: center;
}

.footer {
    position: absolute;
    bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    right: 0;
}