html {
    height: 100%;
}

body {
    background-attachment: fixed;
    background-position: center center;
    background: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.3) 50%, rgba(255, 255, 255, 0)) no-repeat, url("../images/icecrown_citadel.jpg") no-repeat, black;
    background-size: cover;
}

#missingModelsContainer {
    position: absolute;
    right: 5%;
    top: 10%;
    background-color: black;
    padding: 20px;
    border: var(--text-color) solid 1px;
    width: 220px;
}

#missingModelHeader {
    font-size: 20px;
    cursor: pointer;
}

#missingModelHeader:hover {
    color: white;
}

#missingModels {
    margin-top: 5px;
}

.missingModel {
    color: red;
    cursor: pointer;
    font-size: 15px;
}

.missingModel:hover {
    color: white;
}

#rightPanel {
    position: absolute;
    right: 5%;
    top: 30%;
}

#copyBtn {
    background-color: black;
    font-weight: bold;
    padding: 20px;
    border: var(--text-color) solid 1px;
    outline: none;
    font-size: 32px;
    width: 262px;
}

#copyBtn:hover {
    color: white;
    border: white solid 1px;
}

#config {
    position: absolute;
    font-size: 16px;
    top: 10%;
    left: 20px;
    background: black;
    border: var(--text-color) solid 1px;
    padding: 10px;
}

#legend {
    background: black;
    padding: 20px;
    border: var(--text-color) solid 1px;
    width: 220px;
}

#time {
    font-size: 60px;
    margin: auto;
    text-align: center;
}

span {
    text-align: center;
}

#player {
    margin: auto;
    width: 800px;
    display: block;
}

#back {
    position: absolute;
    top: 10px;
    left: 20px;
    text-decoration: none;
    font-size: 3em;
    transition: 0.2s;
}

#back:hover {
    color: white;
}

.data {
    padding: 10px;
    position: absolute;
    border: var(--text-color) solid 1px;
    width: 200px;
    top: 40%;
}

.data div {
    text-align: center;
}

.response {
    margin-top: 20px;
    width: 262px;
    font-size: 20px;
    text-align: center;
    animation: fadeOut ease-out 4s forwards;
    cursor: default;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
