html {
    height: 100%;
}

body {
    background-attachment: fixed;
    background-position: center center;
    background: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.3) 50%, rgba(255, 255, 255, 0)) no-repeat, url("../images/icecrown_citadel.jpg") no-repeat, black;
    background-size: cover;
}

span {
    text-align: center;
}

#player {
    margin: auto;
    width: 800px;
    display: block;
}

#back {
    position: absolute;
    top: 10px;
    left: 20px;
    text-decoration: none;
    font-size: 3em;
    transition: 0.2s;
}

#back:hover {
    color: white;
}

.data {
    padding: 10px;
    position: absolute;
    border: var(--text-color) solid 1px;
    width: 200px;
    top: 40%;
}

#model_3d {
    bottom: 5px;
    position: absolute !important;
    width: 200px;
    height: 200px;
    pointer-events: none !important;
}

/* Hide loading bar*/
#model_3d div:nth-child(n + 1) {
    background-color: rgba(0, 0, 0, 0) !important;
}

.data div {
    text-align: center;
}

#stage {
    font-size: 30px;
}

#mount {
    font-size: 25px;
}

.label {
    font-size: 12px;
}

#mountContainer {
    left: 20px;
    height: 300px;
}

#stageContainer {
    right: 20px;
    height: 300px;
}

#placing {
    font-size: 30px;
}

#placing[data-place="FINAL"] {
    font-size: 30px;
}

#placing[data-place="GRANDFINAL"] {
    font-size: 30px;
}

#missingMount {
    color: #C82000;
    padding-top: 20px;
    font-size: 25px;
}

#modelMissing {
    color: darkred;
    position: absolute;
    bottom: 50px;
    font-size: 50px;
}

#scoreContainer, #winnerContainer {
    transform: translateX(-50%);
    left: 50%;
    top: 75%;
    height: 150px;
    width: fit-content;
}

#score, #winner {
    font-size: 80px;
}

#left, #right {
    font-size: 20px;
}

#progressContainer {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    height: 200px;
    width: 200px;
}