html {
    height: 100%;
}

.container {
    position: absolute;
    top: 35%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.enter {
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 150%;
    font-size: 5em;
    font-family: Georgia,Helvetica,sans-serif;
    text-decoration: none;
    transition: 0.2s;
}

.enter:hover {
    color: white;
}

div {
    margin: auto;
    justify-content: center;
    align-items: center;
}

.dictionary {
    font-size: 3em;
}

.desc {
    font-family: "Calibri", sans-serif;
    font-size: 0.8em;
}

.noun {
    font-style: italic;
    font-family: "Calibri", sans-serif;
}

.transcript {
    font-family: "Calibri Light", sans-serif;
}

.word {
    font-family: "Arial Black", sans-serif;
}

body {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.3) 50%, rgba(255, 255, 255, 0)), url("../images/icecrown_citadel.jpg") center center;
    background-size: cover;
}