html {
    height: 100%;
}

.delimiter {
    margin-top: 0.5em;
    display: block;
    width: 500px;
    height: 2px;
    background: linear-gradient(to left, rgba(255, 255, 255, 0) 15%, #FFF 50%, #AAA 85%, rgba(170, 170, 170, 0));
}

.container {
    font-size: 3em;
    margin: 10%;
}

.big {
    font-family: Montserrat, sans-serif;
    font-weight: 800;
}

li {
    margin-left: 0.5em;
}

ul {
    list-style: circle;
    margin-top: 0.25em;
}

div, li {
    background: -webkit-linear-gradient(#FFF, #AAA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

body {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.3) 50%, rgba(255, 255, 255, 0)), var(--bg-image) center center;
    background-size: cover;
}