/* external css: flickity.css */

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body { font-family: sans-serif; }

.gallery {
    background: rgba(50, 50, 50, 0.1);
}

.flickity-page-dots .dot.seen {
    background: #070;
}

.gallery-cell.seen > a {
    color: #8C8;
}

.backdrop {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(30, 30, 30, 0.85);
    z-index: -1;
    mix-blend-mode: multiply;
}

.gallery-cell {
    width: 35%;
    height: 300px;
    margin-right: 10px;
    text-align: center;
    line-height: 300px;
    font-size: 70px;
    background-size: cover;
    background-position: center;
}

.gallery-cell > a {
    text-decoration: none;
}

.gallery-cell.is-selected .backdrop{
    background: rgba(50, 50, 50, 0.2);
}

.flickity-button {
    background: transparent;
}

.flickity-button:hover {
    background: rgba(100, 100, 100, 0.5);
}