#progress {
    font-size: 20px;
}

#episodes {
    list-style: none;
}

#episodes > li {
    display: flex;
    height: 50px;
    border: 1px var(--text-color) solid;
    border-radius: 10px;
    user-select: none;
    align-items: center;
    margin: 20px 75px 0 50px;
}

.episode {
    width: 200px;
    font-size: 40px;
    padding: 0 5px;
    border-right: 1px var(--text-color) solid;
}

progress {
    -webkit-appearance: none;
    appearance: none;
}

progress::-webkit-progress-bar {
    background: dimgrey;
}

progress::-webkit-progress-value {
    background: darkgray;
}

.place {
    color: darkred;
    width: 150px;
    font-size: 30px;
    padding: 7px 10px;
    border-right: 1px var(--text-color) solid;
}

.showButton {
    width: calc(100% - 250px);
    font-size: 30px;
    text-align: center;
    cursor: pointer;
}

.showButton:hover {
    color: white;
}

.place[data-place="1"] {
    color: gold;
    border: none;
    text-align: center;
    width: calc(100% - 250px);
}

.place[data-place="2"] {
    color: gray;
}

.place[data-place="3"] {
    color: sandybrown;
}

.losingMountLabel {
    font-size: 20px;
    padding: 7px 10px;
}

.losingMount {
    font-size: 40px;
    padding: 7px 10px;
}