:root {
    --font-large: 2.5rem;
    --font-medium: 1.85rem;
    --font-small: 1.25rem;
}

#logout {
    float: right;
    font-weight: normal;
    padding-right: 5vw;
}

#progress {
    font-size: var(--font-small);
}

#episodes {
    list-style: none;
}

#episodes > li {
    display: flex;
    height: 50px;
    border: 1px var(--text-color) solid;
    border-radius: 10px;
    user-select: none;
    align-items: center;
    margin: 20px 75px 0 50px;
}

.episode {
    width: 200px;
    font-size: var(--font-large);
    padding: 0 5px;
    border-right: 1px var(--text-color) solid;
}

progress {
    -webkit-appearance: none;
    appearance: none;
}

progress::-webkit-progress-bar {
    background: dimgrey;
}

progress::-webkit-progress-value {
    background: darkgray;
}

.place {
    width: 180px;
    text-align: center;
    font-size: var(--font-medium);
    padding: 7px 10px;
    border-right: 1px var(--text-color) solid;
}

.showButton {
    width: calc(100% - 250px);
    font-size: var(--font-medium);
    text-align: center;
    cursor: pointer;
}

.showButton:hover {
    color: white;
}

.place[data-place="VICTORY"] {
    border: none;
    width: calc(100% - 250px);
}

.losingMountLabel {
    font-size: var(--font-small);
    padding: 7px 10px;
}

.losingMount {
    font-size: var(--font-large);
    padding: 7px 10px;
}