:root {
    --font-large: 2.5rem;
    --font-medium: 1.85rem;
    --font-small: 1.25rem;

    --border-radius: 10px;
}

#logout {
    float: right;
    font-weight: normal;
    padding-right: 5vw;
}

#progress {
    font-size: var(--font-small);
}

.episode {
    font-size: var(--font-large);
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
}

progress {
    -webkit-appearance: none;
    appearance: none;
}

progress::-webkit-progress-bar {
    background: dimgrey;
}

progress::-webkit-progress-value {
    background: darkgray;
}

.place {
    text-align: center;
    font-size: var(--font-medium);
}

.showButton {
    font-size: var(--font-medium);
    text-align: center;
    cursor: pointer;
    grid-column-end: span 3;
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

.showButton:hover {
    color: white;
}

.place[data-place="VICTORY"] {
    grid-column-end: span 3;
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

.losingMountLabel {
    font-size: var(--font-small);
}

.losingMount {
    font-size: var(--font-large);
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

#episodesGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 5fr;
    grid-auto-rows: 50px;
    grid-row-gap: 10px;
}

#episodesGrid > span {
    line-height: 50px;
    border: 1px solid white;
    padding: 0 10px;
    white-space: nowrap;
}