html {
    height: 100%;
}

.splashContainer {
    position: absolute;
    top: 35%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.enter {
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 150%;
    font-size: 5em;
    font-family: Montserrat, sans-serif;
    font-weight: 800;
    text-decoration: none;
    transition: 0.2s;
    opacity: 0;

    animation: fadeIn ease-out 2s forwards;
    animation-delay: 2s;
}

.enter:hover {
    color: white;
}

.splashContainer div {
    margin: auto;
    justify-content: center;
    align-items: center;
}

.dictionary {
    opacity: 0;
    font-size: 3em;
    animation: fadeIn ease-out 2s forwards;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.desc {
    font-size: 0.8em;
}

.noun {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-style: italic;
}

.transcript {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
}

.word {
    font-family: Montserrat, sans-serif;
    font-weight: 800;
}

.splashOverlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.3) 50%, rgba(255, 255, 255, 0)), url("../images/icecrown_citadel.webp") center center;
    background-size: cover;
}